.container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    background-color: #f9f9f9; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
  }

  p {
    font-family: Arial, sans-serif; 
    background-color: #f9f9f9; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    padding: 10px; 
    margin: 5px 0; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    font-size: 14px; 
  }
  
  p strong {
    font-weight: bold; 
  }
  
  .map-column {
    flex: 2;
    padding: 10px;
    background-color: #fff; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  

  .info-column {
    flex: 1;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto; 
    max-height: 500px; 
  }
  
  .info-column h3 {
    margin-top: 0;
    color: #333;
  }
  
  .info-column p {
    margin: 5px 0;
    color: #666;
  }
  
  .info-column, .map-column {
    margin: 10px 0;
  }
  
 

  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      padding: 10px;
    }
  
    .map-column, .info-column {
      flex: 1;
      margin-bottom: 10px;
      max-height: none; 
    }
  
    .info-column {
      max-height: 300px; 
    }
  }
  